.search-form {
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 270px;
}

.form-element {
  display: flex;
  align-items: flex-center;
  border: 1px solid #d8d8d8;
}

.form-element,
.search-input {
  width: 100%;
  height: 100%;
  font-size: 12px;
  padding: 0.4em 0.4em;
  letter-spacing: 0.03em;
}
.search-input,
.search-button {
  outline: none;
  border: none;
  overflow: hidden;
  background-color: #fff;
}

::placeholder {
  color: #777;
}

input[type="search"] {
  -webkit-appearance: textfield;
}
